<header>
  <h1>Clientes</h1>
</header>

<section class="container">
  <div class="controllers">
    <div class="filter">
      <div class="input-box">
        <label class="input-box__label" for="filter">Pesquisar:</label>
        <input
          class="input-box__input"
          type="text"
          name="filter"
          id="filter"
          [(ngModel)]="filter"
          (keyup)="searchWithFilter()"
        />
      </div>
      <img
        class="search-button"
        src="../../../assets/search.svg"
        alt="Search"
        srcset=""
      />
    </div>

    <div class="add-button">
      <button class="button primary columns" routerLink="/create-clients">
        Adicionar Cliente
      </button>
    </div>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th *ngFor="let header of headersList" (click)="sortingTable(header)">
            {{ header.name }}
            <img
              *ngIf="header.sort"
              src="../../../assets/right-arrow-primary-lightest.svg"
              class="table__header__sort-icon"
              [class]="header.sort"
              alt=""
            />
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let client of clientsList">
          <td>
            <a (click)="goToUpdateClient(client)">{{ client.clientName }}</a>
          </td>
          <td>{{ client.cpf | mask : "000.000.000-00" }}</td>
          <td>{{ client.birthDate | date : "dd/MM/yyyy" }}</td>
          <td>{{ client.monthlyIncome | currency : "BRL" }}</td>
          <td>{{ client.email }}</td>
          <td>{{ client.registrationDate | date : "dd/MM/yyyy" }}</td>
          <td>
            <button
              class="button secondary content"
              (click)="removeClient(client)"
            >
              Remover
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <app-paginator
      [currentPage]="currentPage"
      [pagesList]="pagesList"
      (pageClicked)="onPageClicked($event)"
    ></app-paginator>
  </div>
</section>
