@import "../../../../styles/colors";
@import "../../../../styles/variables";

.button {
  display: flex;
  align-items: flex-start;
  border-radius: 20px;
  height: 40px;
  font-size: 14px;
  font-weight: $weight-bold;
  font-family: Montserrat;
}

.full-width {
  width: 304px;
}
.columns {
  width: 146px;
}
.content {
  width: 92px;
}

.primary {
  background-color: $color-brand-primary-medium;
  color: $color-neutral-white;

  &:hover {
    background-color: $color-brand-primary-light;
  }
  &:focus {
    background-color: $color-feedback-info-medium;
  }
  &:active {
    background-color: $color-brand-primary-darkest;
  }
  &:disabled {
    background-color: $color-neutral-lightest;
    color: $color-neutral-lightest;
  }
}
.secondary {
  background-color: $color-support-02-medium;
  color: $color-brand-primary-medium;

  &:hover {
    background-color: $color-support-02-dark;
  }
  &:focus {
    background-color: $color-support-02-medium;
  }
  &:active {
    background-color: $color-support-02-dark;
  }
  &:disabled {
    background-color: $color-neutral-lightest;
    color: $color-neutral-lightest;
  }
}
