$padding-horizontal-mobile: 100px;
$padding-horizontal-sm: 150px;
$padding-horizontal-md: 200px;
$padding-horizontal: 250px;

$weight-extrabold: 800;
$weight-bold: 700;
$weight-medium: 500;
$weight-regular: 400;
