<header>
  <h1>{{ isCreatingClient ? "Criar" : "Atualizar" }} cliente</h1>
</header>

<section class="container">
  <app-card>
    <form [formGroup]="form" *ngIf="form">
      <!-- Nome Cliente -->
      <div class="input-box">
        <label class="input-box__label" for="clientName">Nome Cliente</label>
        <input
          class="input-box__input"
          type="text"
          name="clientName"
          id="clientName"
          formControlName="clientName"
        />
      </div>
      <app-input-errors-list
        [errorsMessagesList]="getClientNameErrors()"
      ></app-input-errors-list>

      <!-- CPF -->
      <div class="input-box">
        <label class="input-box__label" for="cpf">CPF</label>
        <input
          class="input-box__input"
          type="text"
          name="cpf"
          id="cpf"
          formControlName="cpf"
          [mask]="cpfMask"
        />
      </div>
      <app-input-errors-list
        [errorsMessagesList]="getCpfErrors()"
      ></app-input-errors-list>

      <!-- Data Nascimento -->
      <div class="input-box">
        <label class="input-box__label" for="birthDate">Data Nascimento</label>
        <input
          class="input-box__input"
          type="date"
          name="birthDate"
          id="birthDate"
          formControlName="birthDate"
        />
      </div>
      <app-input-errors-list
        [errorsMessagesList]="getBirthDateErrors()"
      ></app-input-errors-list>

      <!-- Renda Mensal -->
      <div class="input-box">
        <label class="input-box__label" for="monthlyIncome">Renda Mensal</label>
        <input
          class="input-box__input"
          type="text"
          name="monthlyIncome"
          id="monthlyIncome"
          formControlName="monthlyIncome"
          mask="separator.2"
          thousandSeparator="."
          prefix="R$"
        />
      </div>
      <app-input-errors-list
        [errorsMessagesList]="getMonthlyIncomeErrors()"
      ></app-input-errors-list>

      <!-- E-mail -->
      <div class="input-box">
        <label class="input-box__label" for="email">E-mail</label>
        <input
          class="input-box__input"
          type="email"
          name="email"
          id="email"
          formControlName="email"
        />
      </div>
      <app-input-errors-list
        [errorsMessagesList]="getEmailErrors()"
      ></app-input-errors-list>

      <!-- Data Cadastro -->
      <div class="input-box">
        <label class="input-box__label" for="registrationDate"
          >Data Cadastro</label
        >
        <input
          class="input-box__input"
          type="date"
          name="registrationDate"
          id="registrationDate"
          formControlName="registrationDate"
        />
      </div>
      <app-input-errors-list
        [errorsMessagesList]="getRegistrationDateErrors()"
      ></app-input-errors-list>

      <div class="form__buttons">
        <button class="button secondary columns" routerLink="/">
          Cancelar
        </button>
        <button
          class="button primary columns"
          [disabled]="form && (!form.valid || !form.touched)"
          (click)="saveClient()"
        >
          {{ isCreatingClient ? "Criar" : "Atualizar" }}
        </button>
      </div>
    </form>
  </app-card>
</section>
