.container {
  & form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;

    & label {
      color: #154580;
      font-weight: bold;
    }

    & input {
      border: none;
      height: 40px;
      padding: 1rem 2rem;
      border-radius: 20px;
      margin: 0.5rem 0 1rem;
    }

    & .textarea {
      border: none;
      padding: 1rem 2rem;
      border-radius: 20px;
      margin: 0.5rem 0 2rem;
    }
  }

  .form__buttons {
    display: flex;
    width: 100%;
    justify-content: right;
  }
}
