<header>
  <h1>{{ isCreatingClient ? "Criar" : "Atualizar" }} cliente</h1>
</header>

<section class="container">
  <app-card>
    <form [formGroup]="form" *ngIf="form">
      <!-- Nome Cliente -->
      <label for="clientName">Nome Cliente</label>
      <input
        type="text"
        name="clientName"
        id="clientName"
        formControlName="clientName"
      />
      <app-input-errors-list
        [errorsMessagesList]="getClientNameErrors()"
      ></app-input-errors-list>

      <!-- CPF -->
      <label for="cpf">CPF</label>
      <input
        type="text"
        name="cpf"
        id="cpf"
        formControlName="cpf"
        [mask]="cpfMask"
      />
      <app-input-errors-list
        [errorsMessagesList]="getCpfErrors()"
      ></app-input-errors-list>

      <!-- Data Nascimento -->
      <label for="birthDate">Data Nascimento</label>
      <input
        type="date"
        name="birthDate"
        id="birthDate"
        formControlName="birthDate"
      />
      <app-input-errors-list
        [errorsMessagesList]="getBirthDateErrors()"
      ></app-input-errors-list>

      <!-- Renda Mensal -->
      <label for="monthlyIncome">Renda Mensal</label>
      <input
        type="text"
        name="monthlyIncome"
        id="monthlyIncome"
        formControlName="monthlyIncome"
        mask="separator.2"
        thousandSeparator="."
        prefix="R$"
      />
      <app-input-errors-list
        [errorsMessagesList]="getMonthlyIncomeErrors()"
      ></app-input-errors-list>

      <!-- E-mail -->
      <label for="email">E-mail</label>
      <input type="email" name="email" id="email" formControlName="email" />
      <app-input-errors-list
        [errorsMessagesList]="getEmailErrors()"
      ></app-input-errors-list>

      <!-- Data Cadastro -->
      <label for="registrationDate">Data Cadastro</label>
      <input
        type="date"
        name="registrationDate"
        id="registrationDate"
        formControlName="registrationDate"
      />
      <app-input-errors-list
        [errorsMessagesList]="getRegistrationDateErrors()"
      ></app-input-errors-list>

      <div class="form__buttons">
        <button class="button secondary columns" routerLink="/">
          Cancelar
        </button>
        <button
          class="button primary columns"
          [disabled]="form && (!form.valid || !form.touched)"
          (click)="saveClient()"
        >
          {{ isCreatingClient ? "Criar" : "Atualizar" }}
        </button>
      </div>
    </form>
  </app-card>
</section>
