<div class="alert-modal">
  <img
    class="alert-modal__icon"
    src="../../../../assets/{{ data.modalIcon }}.svg"
    alt="{{ data.modalIcon }}"
    srcset=""
  />

  <p class="alert-modal__text">{{ data.text }}</p>

  <div class="alert-modal__buttons">
    <button
      *ngIf="data.enableCancel"
      class="button secondary"
      [ngClass]="data.enableCancel ? 'content' : 'columns'"
      (click)="cancel()"
    >
      Cancelar
    </button>
    <button
      class="button primary"
      [ngClass]="data.enableCancel ? 'content' : 'columns'"
      (click)="confirm()"
    >
      OK
    </button>
  </div>
</div>
