@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");

@import "styles/variables";
@import "styles/breakpoints";
@import "styles/colors";

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
button {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: $weight-extrabold;
  font-size: 36px;
}

h2 {
  font-weight: $weight-bold;
  font-size: 36px;
}

a {
  color: $color-brand-primary-medium !important;
  font-size: 14px;
  font-weight: $weight-bold;
  cursor: pointer;

  &:hover {
    text-decoration-line: underline !important;
  }
  &:focus {
    border-radius: 4px;
    border: 2px solid var(--Financeira-Crdito-Feedback-Info-medium, #3ca6d6);
  }
  &:active {
    text-decoration-line: underline !important;
  }
  &:disabled {
    text-decoration-line: underline !important;
    color: $color-neutral-medium;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 40px;
  font-size: 14px;
  font-weight: $weight-bold;
  border: none;

  &.full-width {
    width: 304px;
  }
  &.columns {
    width: 146px;
  }
  &.content {
    width: 92px;
  }

  &.primary {
    background-color: $color-brand-primary-medium;
    color: $color-neutral-white;

    &:hover {
      background-color: $color-brand-primary-light;
    }
    &:focus {
      background-color: $color-feedback-info-medium;
      border: 2px solid $color-brand-primary-medium;
    }
    &:active {
      background-color: $color-brand-primary-darkest;
    }
    &:disabled {
      background-color: $color-neutral-lightest;
      color: $color-neutral-medium;
    }
  }
  &.secondary {
    background-color: $color-support-02-medium;
    color: $color-brand-primary-medium;

    &:hover {
      background-color: $color-support-02-dark;
    }
    &:focus {
      background-color: $color-support-02-medium;
      border: 2px solid $color-brand-primary-medium;
    }
    &:active {
      background-color: $color-support-02-dark;
    }
    &:disabled {
      background-color: $color-neutral-lightest;
      color: $color-neutral-medium;
    }
  }
  &.tertiary {
    background-color: $color-linear-gradient-secondary;
    color: $color-brand-primary-medium;

    &:hover {
      background-color: $color-brand-secondary-dark;
    }
    &:focus {
      background-color: $color-linear-gradient-secondary;
      border: 2px solid $color-feedback-info-medium;
    }
    &:active {
      background-color: $color-brand-secondary-dark;
    }
    &:disabled {
      background-color: $color-neutral-lightest;
      color: $color-neutral-medium;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
