// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$gft-primary: mat.define-palette(mat.$indigo-palette);
$gft-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$gft-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gft-theme: mat.define-light-theme(
  (
    color: (
      primary: $gft-primary,
      accent: $gft-accent,
      warn: $gft-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($gft-theme);

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap");

@import "styles/variables";
@import "styles/breakpoints";
@import "styles/colors";

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
label,
button,
input {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-weight: $weight-extrabold;
  font-size: 36px;
  text-transform: uppercase;
  color: $color-neutral-darkest;
  font-style: normal;
}

h2 {
  font-weight: $weight-bold;
  font-size: 34px;
  font-style: normal;
  line-height: 130%;
}

p {
  font-size: 14px;
  font-style: normal;
  font-weight: $weight-regular;
}

a {
  color: $color-brand-primary-medium !important;
  font-size: 14px;
  font-weight: $weight-bold;
  cursor: pointer;

  &:hover {
    text-decoration-line: underline !important;
  }
  &:focus {
    border-radius: 4px;
    border: 2px solid var(--Financeira-Crdito-Feedback-Info-medium, #3ca6d6);
  }
  &:active {
    text-decoration-line: underline !important;
  }
  &:disabled {
    text-decoration-line: underline !important;
    color: $color-neutral-medium;
  }
}

.container {
  width: 100%;
  padding: 0 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  height: 40px;
  font-size: 14px;
  font-weight: $weight-bold;
  border: none;

  &.full-width {
    width: 304px;
  }
  &.columns {
    width: 146px;
  }
  &.content {
    width: 92px;
  }

  &.primary {
    background-color: $color-brand-primary-medium;
    color: $color-neutral-white;

    &:hover {
      background-color: $color-brand-primary-light;
    }
    &:focus {
      background-color: $color-feedback-info-medium;
      border: 2px solid $color-brand-primary-medium;
    }
    &:active {
      background-color: $color-brand-primary-darkest;
    }
    &:disabled {
      background-color: $color-neutral-lightest;
      color: $color-neutral-medium;
    }
  }
  &.secondary {
    background-color: $color-support-02-medium;
    color: $color-brand-primary-medium;

    &:hover {
      background-color: $color-support-02-dark;
    }
    &:focus {
      background-color: $color-support-02-medium;
      border: 2px solid $color-brand-primary-medium;
    }
    &:active {
      background-color: $color-support-02-dark;
    }
    &:disabled {
      background-color: $color-neutral-lightest;
      color: $color-neutral-medium;
    }
  }
  &.tertiary {
    background-color: $color-linear-gradient-secondary;
    color: $color-brand-primary-medium;

    &:hover {
      background-color: $color-brand-secondary-dark;
    }
    &:focus {
      background-color: $color-linear-gradient-secondary;
      border: 2px solid $color-feedback-info-medium;
    }
    &:active {
      background-color: $color-brand-secondary-dark;
    }
    &:disabled {
      background-color: $color-neutral-lightest;
      color: $color-neutral-medium;
    }
  }
}

.round-button {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;

  border-radius: 50%;
  border: none;
  background: $color-neutral-lightest;
  color: $color-brand-primary-medium;
  cursor: pointer;

  &:disabled {
    cursor: no-drop;
  }

  &.extra-small {
    padding: 8px;
    width: 24px;
    height: 24px;
    font-size: 8px;
  }
  &.small {
    padding: 8px;
    width: 32px;
    height: 32px;
    font-size: 16px;
  }
  &.medium {
    padding: 12px;
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
  &.large {
    padding: 12px;
    width: 56px;
    height: 56px;
    font-size: 32px;
  }

  &.info {
    background: $color-feedback-info-lightest;
    color: $color-feedback-info-dark;
  }
  &.attention {
    background: $color-feedback-info-lightest;
    color: $color-feedback-info-dark;
  }
  &.warning {
    background: $color-feedback-danger-lightest;
    color: $color-feedback-danger-medium;
  }
  &.success {
    background: $color-feedback-success-lightest;
    color: $color-feedback-success-dark;
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}
